body {
    overflow: hidden;
}

.picturebox-portrait {
    background: #ffffff;
    position: absolute;
    border-radius: 5px;
    border: 1px solid #c0bfbf;
    width: 20%;
    top: 120px;
    left: 7.5%;
    height: 400px;
    text-align: center;
    animation-duration: 1s;
    animation-name: picturebox-slide-in;
    animation-timing-function: ease-in-out;
}

@keyframes picturebox-slide-in{
    from {
        left: -20%;
    }
    to{
        left: 7.5%;
    }
}

.picturebox-portrait img {
    position: relative;
    top: 10%;
    border-radius: 5px;
    width: 80%;
    height: 80%;
}

.textbox-medium {
    background: #ffffff;
    position: absolute;
    border-radius: 5px;
    border: 1px solid #c0bfbf;
    width: 60%;
    top: 120px;
    left: 32.5%;
    height: 400px;
    animation-duration: 1s;
    animation-name: textbox-medium-slide-in;
    animation-timing-function: ease-out;
}

@keyframes textbox-medium-slide-in{
    from {
        left: 100%;
    }
    to{
        left: 32.5%;
    }
}

.textbox-medium h1 {
    position: relative;
    margin-left: 50px;
    color: #383838;
    font-size: 1.5vw;
}

.textbox-medium p {
    position: relative;
    margin-left: 5%;
    color: #7e7e7e;
    max-width: 90%;
    font-size: 0.9vw;
}

.ref-box-long {
    background: #ffffff;
    position: absolute;
    border-radius: 5px;
    border: 1px solid #c0bfbf;
    width: 60%;
    left: 25%;
    top: 600px;
    height: 100px;
    animation-duration: 1s;
    animation-name: refbox-slide-in;
    animation-timing-function: ease-out;
    transform: skew(-15deg);
}

@keyframes refbox-slide-in{
    from {
        top: 1100px;
    }
    to{
        top: 600px;
    }
}

.buttons {
    margin-left: 15%;
}

.ref-box-long a {
    position: relative;
    text-decoration: none;
    padding: 4px 8px;
    margin: 10px 20px;
    color: #ffffff;
    font-size: 200%;
    top: 30px;
    border-radius: 4px;
    transition: 0.5s;
}

.ref-box-long a:hover {
    padding: 8px 12px;
}

#ico_youtube {
    left: 80px;
    background: rgb(241, 44, 44)
}

#ico_twitter  {
    left: 80px;
    background: #1DA1F2;
}

#ico_discord  {
    left: 80px;
    background-color: #556EC2;
}

#ico_github  {
    left: 80px;
    background-color: #323131;
}

#ico_twitch {
    left: 80px;
    background-color: #6f23e9;
}