
.textbox-large {
    background: #ffffff;
    position: absolute;
    border-radius: 5px;
    border: 1px solid #c0bfbf;
    width: 60%;
    top: 120px;
    left: 20%;
    height: 250px;
    text-align: center;
}

.textbox-large h1 {
    color: #383838;
}

.textbox-large table {
    text-align: left;
    color: #7e7e7e;
}

.contact {
    padding-left: 100px;
}