.input-box {
    position: absolute;
    margin-top: 100px;
    width: 50%;
    height: 350px;
    left: 25%;
    top: 120px;
    background-color: #ffffff;
    margin: 10px;
    border: 1px solid #c0bfbf;
    border-radius: 5px;
}

.output-box {
    position: absolute;
    margin-top: 100px;
    width: 50%;
    height: 150px;
    left: 25%;
    top: 520px;
    background-color: #ffffff;
    margin: 10px;
    border: 1px solid #c0bfbf;
    border-radius: 5px;
}

.form {
    margin-top: 8%;
}

.item {
    text-align: center;
    margin: 8px;
}

.output {
    margin-top: 6%;
}

h1 {
    color: #383838;
}

label {
    color: #7e7e7e;
}